<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <% if(userName) { %>
        <h2>Hello <%= userName %></h2>
        <a href="/signout">Sign Out</a>
    <% } else { %>
        <h2>Hello <%= userName %></h2>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
    <% } %>
</body>
</html>